
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
body {
    text-align: center;
    font-family: alan sans;
    background-color: rgb(78, 78, 78);
    color: white;
    justify-content: center;
    font-size: 1.5em;
}

div {
    background-color: rgba(255,255,255, 0.25);
    font-family: google sans code;
    border-radius: 5px;
}

input {
    background-color: transparent;
    color: transparent;
    border: 2px solid white;
}

input::placeholder {
    color: white !important;
    opacity: 1 !important;
}

dialog {
    background-color: lightgray;
    border-radius: 5px;
    width: 8em;
    padding: 10px;
    

}

#shows {
    font-weight: normal;
}

button {
    background-color: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
}
.logo {
    text-align: center;
    width: 50%;
    height: 50%;
}
