body {
    text-align: center;
    font-family: alan sans;
    background-color: rgb(78, 78, 78);
    color: white;
    justify-content: center;
    font-size: 1.5em;
}

div {
    background-color: rgba(255,255,255, 0.5);
    padding: 3px;
    
}

input {
    background-color: transparent;
    color: transparent;
    border: 2px solid white;
}

input::placeholder {
    color: white !important;
    opacity: 1 !important;
}

dialog {
    background-color: lightgray;
    border-radius: 5px;
    width: 4em;

}

button {
    background-color: rgba(255,255,255, 0.75);
    border: 1px solid white;
    border-radius: 3px;
}

button:hover {
    background-color: rgba(255,255,255, 0.9);
    border: 1px solid white;
    
}

button:active {
    background-color: rgba(255,255,255, 1.0);
    border: 1px solid white;
    
}

.boxes {
`    background-color: rgba(255,255,255, 0.5);
    padding: 3px;
    margin: 5px;
    border-radius: 5px;
    
}
