body {
    text-align: center;
    font-family: alan sans;
    background-color: rgb(78, 78, 78);
    color: white;
    justify-content: center;
    font-size: 1.5em;
}

div {
    background-color: rgba(255,255,255, 0.5);
    
    
}

input {
    background-color: transparent;
    color: transparent;
    border: 2px solid white;
}

input::placeholder {
    color: white !important;
    opacity: 1 !important;
}

dialog {
    background-color: lightgray;
    border-radius: 5px;
    width: 4em;

}
